h1,
h2,
h3,
h4,
h5,
h6 {
  color: $heading-color;
  font-weight: $font-weight-heading;
  line-height: $line-height-base;
  font-family: $heading-font;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  letter-spacing: 1.5px;
}

/* ----------------------------------------------------------------
	Basic Layout Styles
-----------------------------------------------------------------*/

h1 {
  font-size: $font-size-h1;
}

h2 {
  font-size: $font-size-h2;
}

h3 {
  font-size: $font-size-h3;
}

h4 {
  font-size: $font-size-h4;
}

h5 {
  font-size: $font-size-h5;
}

h6 {
  font-size: $font-size-h6;
}

.title {
  position: relative;
  color: $heading-color;
  font-size: 65px;
  letter-spacing: 2px;

  @include media_768 {
    br {
      display: none;
    }
  }

  @include media_768 {
    font-size: 55px;
  }

  @include media_575 {
    font-size: 45px;
    line-height: 1.2;
  }

  @include media_400 {
    font-size: 40px;
  }
}

.section-title {
  display: flex;
  flex-direction: column;

  .mb-70 {
    @include media_991 {
      margin-bottom: 50px;
    }
  }

  .section-sub-title {
    padding: 8px;
    background-color: $assistant-color;

    .background-section &,
    &.background-section {
      background-color: $bg-color;
    }
  }
}

.section-sub-title {
  color: $heading-color;
  font-family: $heading-font;
  font-size: 13px;
  font-weight: 600;
  letter-spacing: 2.5px;
}

.tag-heading {
  letter-spacing: 0.3px;
}

.section-heading {
  counter-increment: homepage-headers;

  .section-title {
    position: relative;

    h2 {
      text-shadow: 0px 6px 4px rgb(191 191 191 / 15%);

      &::before {
        left: 1px;
        right: 1px;
      }
    }

    &:before {
      content: counter(homepage-headers, upper-roman);
      position: relative;
      color: transparent;
      // -webkit-text-stroke: 1px $theme-color;
      font-size: 50px;
      font-family: "Silk Serif", serif;
      letter-spacing: 2px;
      font-weight: 300;
      background: linear-gradient(transparent, $theme-color);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    opacity: .3;
    }
  }
}

.heading-h2 {
  position: relative;
  font-size: 47px;
  font-weight: 600;
  letter-spacing: 2px;
  color: $heading-color;

  br {
    @include media_768 {
      display: none;
    }
  }
  @include media_768 {
    font-size: 32px;
  }
}

.title-block {
  position: relative;
  font-size: 21px;
  font-weight: 600;
}

.sm-title-block {
  letter-spacing: 2px;
  font-size: 18px;
}

.metas {
  font-size: 16px;
  margin-bottom: 10px;

  span {
    position: relative;
    color: $heading-color;
    font-size: 13px;
    text-transform: uppercase;
    letter-spacing: 2px;

    &:not(:last-of-type) {
      margin-right: 5px;

      &:after {
        content: "-";
        padding-left: 5px;
      }
    }
  }
}

.strock {
  color: transparent;
  -webkit-text-stroke: 1px $heading-color;
}

.font-caps {
  font-size: 13px;
  letter-spacing: 1.5px;
  font-weight: 600;
}

.p-large {
  max-width: 980px;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.6;
}

.letter-spacing-2 {
  letter-spacing: 2px;
}

.letter-spacing-6 {
  letter-spacing: 6px;
}
