/* -------------------------------------------------------
                   Core
-------------------------------------------------------- */
html {
  font-size: $font-size-base;
}

body {
  background-color: $bg-color;
  background-image: radial-gradient(#000 0.6px, transparent 0);
  color: $body-color;
  line-height: $line-height-base;
  font-family: $body-font;
  font-weight: $font-weight-body;
  margin: 0;
  text-rendering: optimizeLegibility;
  transition: 100ms;
  transition-property: background-color, color;
}

.main-root {
  position: relative;
}

.gb-top,
.gb-bottom {
  height: $margin-padding;

  @include media_991 {
    height: $margin-padding-mobile;
  }
}

.circle-bg {
  @include media_991(min) {
    width: 35vw;
    height: 35vw;
  }

  @include media_991 {
    width: 50vw;
    height: 50vw;
    padding: 60px 30px;
  }

  @include media_768 {
    width: 70vw;
    height: 70vw;
  }

  @include media_575 {
    width: 100vw;
    height: 100vw;
  }
}

.line-bottom {
  position: relative;
  padding-bottom: 20px;

  &::before,
  &::after {
    content: "";
    position: absolute;
    height: 2px;
    border-radius: 5px;
    bottom: 0;
    left: 0;
  }

  &::after {
    background-color: $theme-color;
    width: 60px;
  }

  &::before {
    background-color: $border-color;
    width: 100%;
    height: 2px;
  }
}

.prev-container,
.next-container {
  position: absolute;
  height: 40px;
  width: 40px;
  background-color: $assistant-color;

  &.prev-container {
    transform: rotate(90deg);
  }

  &.next-container {
    transform: rotate(-90deg);
    left: 40px;

    @include media_991 {
      left: auto;
    }
  }

  svg {
    height: 40px;
    width: 40px;

    .path {
      fill: none;
      stroke: $heading-color;
      stroke-miterlimit: 10;
      stroke-width: 1.8px;
      transition: opacity 0.3s, fill 0.3s, stroke 0.3s;
    }

    .circle {
      stroke-dashoffset: 113.113px;
      stroke-dasharray: 113.113px;
      stroke-width: 0;
      opacity: 0;
      fill: $heading-color;
    }
  }
}

.before-gradient {
  &::before {
    content: "";
    position: absolute;
    top: -1px;
    bottom: -1px;
    left: -1px;
    right: -1px;
    background: #acb6e5;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #86fde8, #acb6e5);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #86fde8, #acb6e5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border: 1px solid $border-color;
    z-index: -1;
  }
}

.bg-sec {
  display: none;
  @include media_991(min) {
    position: absolute;
    display: inherit;
    height: calc(100% - 80px);
    top: 40px;
    left: 0;
  }

  &.top-0 {
    @include media_991(min) {
      height: 100%;
      top: 0;
      border: 0;
    }
  }
}

.border-big-left {
  border-left: 10px solid $heading-color;
  padding-left: 20px;

  @include media_768 {
    padding-left: 15px;
  }
}

.day-night {
  position: fixed;
  z-index: 99999;
  top: 15px;
  left: 180px;
  width: 30px;
  height: 30px;
  cursor: pointer;
  transform: translateX(-50%);

  @include admin-sticky-fix(28);

  @include media_991 {
    top: 30px;
    left: 200px;
  }

  @include media_768 {
    top: 50px;
    left: 150px;
    display: none;
  }

  .night,
  .moon {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    transition: opacity 0.8s;
    border-radius: 100%;
    opacity: 0;

    svg {
      width: 100%;
      height: 100%;
    }
  }

  .night {
    border: 1px solid rgba(255, 255, 255, 0.18);
    background-color: #fff;
    opacity: 1;

    svg {
      fill: #000;
      width: 100%;
      height: 100%;
    }
  }

  .moon {
    border: 1px solid rgba(255, 255, 255, 0.18);
    background-color: #000;
    opacity: 0;

    svg {
      transform: rotate(270deg);
      fill: #f0f0f0;
    }
  }

  @include v-light() {
    .night {
      opacity: 0;
    }
    .moon {
      opacity: 1;
    }
  }
}

@mixin fCursor($name) {
  &.cursor-#{$name} span.cursor-#{$name} {
    mix-blend-mode: unset;
    display: block;
  }
}

//-------------------- Cursor --------------------//

.cursor {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 76px;
  height: 76px;
  z-index: 999999;
  pointer-events: none;
  border-radius: 50%;
  transform-origin: left top;
  transition: transform 0.35s;
  transform: scale(0.35) translate(-50%, -50%);
  mix-blend-mode: exclusion;
  background-color: #fff;

  &.cursor-scale-full,
  .mfp-zoom-out-cur & {
    transform: scale(1.2) translate(-50%, -50%);

    span {
      color: #000;
    }
  }

  &.cursor-scale-half {
    transform: scale(0.85) translate(-50%, -50%);
    mix-blend-mode: unset;
    background-color: $bg-color;

    span {
      color: $heading-color;
    }
  }

  &.cursor-drag {
    .cursor-next,
    .cursor-prev {
      position: absolute;
      top: 0;
      right: -25px;
    }

    .cursor-prev {
      right: auto;
      left: -25px;
    }

    &.no-drag {
      mix-blend-mode: exclusion;
      color: #fff;

      .cursor-next,
      .cursor-prev,
      .cursor-drag {
        display: none;
      }
    }
  }

  &.cursor-drag.cursor-up-down {
    .cursor-next,
    .cursor-prev {
      position: absolute;
      top: -50px;
      right: auto;
      left: 33px;
      transform: rotate(-90deg);
    }

    .cursor-prev {
      top: auto;
      bottom: -50px;
    }
  }

  &.cursor-drag.no-drag {
    mix-blend-mode: exclusion;
    background-color: #fff;

    .cursor-next,
    .cursor-prev,
    .cursor-drag {
      display: none;
    }
  }

  @include media_991 {
    display: none;
  }

  .cursor-helper {
    position: absolute;
    border-radius: 50%;
    width: 100%;
    text-align: center;

    span {
      line-height: 76px;
      font-size: 12px;
      font-weight: bold;
      text-shadow: 20px 20px 20px #000;
      display: none;
    }
  }

  @include fCursor(view);
  @include fCursor(close);
  @include fCursor(play);
  @include fCursor(open);
  @include fCursor(prev);
  @include fCursor(next);
  @include fCursor(drag);

  .dsn-ajax-effect:not(.dsn-cursor-effect) & {
    left: auto;
    top: auto;
    right: 10px;
    bottom: 10px;
    transform: scale(0.3) translate(-50%, -50%);
    mix-blend-mode: unset;
  }

  .dsn-ajax-effect & {
    display: inherit !important;
    transform: scale(0.3);
    mix-blend-mode: unset;

    &:after {
      content: "";
      position: absolute;
      width: 100px;
      height: 109px;
      border-radius: 50%;
      left: -9px;
      top: -15px;
      border-top: 5px solid #fff;
      animation-name: animate-load;
      animation-duration: 1.5s;
      animation-iteration-count: infinite;
    }
  }

  &.no-scale {
    transform: scale(0) translate(-50%, -50%);
  }
}
