.social-network {
  .social-title{
    font-size: 10px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: $heading-color;
    font-weight: 600;
  }
  ul {
    padding-left: 20px;

    &:before {
      content: "";
      width: 3vw;
      top: 50%;
      height: 1px;
      background: $reverse-color;
      margin-right: 15px;
      opacity: 0.15;
    }
  }


}

.socials {
  li {

    &:not(:last-of-type) {
      margin-right: 20px;
    }
    
    a {
      position: relative;
      margin-top: 5px;
      color: $heading-color;

      

      &:after, span {
        position: absolute;
        top: 50%;
        left: 50%;
        opacity: 0;
        transition: all 0.3s cubic-bezier(0.55, 0.02, 0.1, 0.9);
      }

      &:after {
        content: "";
        width: 4px;
        height: 4px;
        border-radius: 50%;
        background: $theme-color;
        transform: translate(-50%, -50%) scale(0.2);
      }

      span {
        color: $heading-color;
        font-size: 13px;
        transform-origin: center bottom;
        cursor: pointer;
      }

      i {
        transform: scale(1);
        transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
      }


      &:hover {
        i {
          transform: scale(0);
        }

        span {
          opacity: 1;
          transform: matrix(1, 0, 0, 1, 0, -25);
          transition: all 0.6s cubic-bezier(0.75, -0.5, 0, 1.75);
        }

        &:after {
          opacity: 1;
          transform: translate(-50%, -50%) scale(1);
          transition: all .5s cubic-bezier(.75, -.5, 0, 1.75);
          transition-delay: .2s;
        }
      }
    }
  }
}