.dsn-btn-primary {
  position: relative;
  padding: 8px 40px 8px 0;
  color: $heading-color;
  font-size: 14px;
  letter-spacing: 2px;

  &.dsn-btn-primary-2 {
    text-align: center;
    padding-right: 0;

    &:before {
      width: calc(100% - 50px);
    }

    span {
      text-align: center;
      padding: 8px 80px;

      &::before {
        width: 100%;
      }
    }

    &:hover {
      span {
        &::before {
          width: 100%;
        }
      }
    }
  }

  &:before,
  span:before {
    content: "";
    position: absolute;
    top: 0;
    height: 100%;
  }

  &:before {
    left: 25px;
    width: calc(100% - 25px);
    background-image: url("data:image/svg+xml,%3csvg width='100%' height='100%' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%' height='100%' fill='none' stroke='white' stroke-width='1' stroke-dasharray='10%2c 10' stroke-dashoffset='44' stroke-linecap='round'/%3e%3c/svg%3e");
  }

  span {
    position: relative;
    padding: 8px 40px;

    &::before {
      left: 0;
      width: 100%;
      background-color: $theme-color;
      transition: width 0.5s ease-in-out;
      z-index: -1;
    }
  }

  &:hover span:before {
    width: calc(100% + 40px);
  }
}

.veiw-site {
  width: max-content;

  .svg-box {
    width: 80px;
    height: 80px;
    border: 1px solid $heading-color;
    border-radius: 50%;
  }

  .link-vist-text {
    position: relative;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 2px;
    color: #fff;
    text-transform: uppercase;
    margin-right: 15px;
    padding-bottom: 5px;

    &:before {
      content: "";
      display: block;
      position: absolute;
      height: 1px;
      width: 100%;
      background: #fff;
      bottom: 1px;
      left: 0;
      transform-origin: left;
      transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
      transform: scaleX(1);
    }
  }

  svg {
    margin: auto;
    width: 30px;
    fill: none;
    stroke-width: 1px;
    stroke: $heading-color;
    transition: all 0.25s;
    transform: rotate(235deg);
    transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  }

  &:hover {
    .link-vist-text {
      &::before {
        transform: scaleX(0);
        transform-origin: right;
      }
    }

    svg {
      transform: rotate(270deg);
    }
  }
}

.custom-btn {
  .text,
  .icon {
    position: relative;
    color: $heading-color;
    padding: 15px 25px;
  }

  &.border-radius-btn {
    .text {
      border-radius: 50px 0 0 50px;
    }

    .icon {
      border-radius: 0 50px 50px 0;
    }
  }
}

.play-btn {
  width: 100px;
  height: 100px;
  line-height: 100px;
  border-radius: 50%;
  margin: auto;
  text-align: center;
  font-weight: 600;

  svg {
    fill: $heading-color;
    width: 40px;
  }

  @include media_768() {
    width: 70px;
    height: 70px;
    line-height: 70px;
  }
}

.box-input {
  width: max-content;

  input {
    box-shadow: none;
    border: 0;
    font-size: 17px;

    &:first-of-type {
      border-radius: 5px 0 0 5px;
    }

    &:last-of-type {
      border-radius: 0 5px 5px 0;
    }

    &::placeholder {
      font-size: 18px;
      font-weight: 700;
    }
  }
}

.download-app {
  width: 196px;
  height: 61px;
}

.subscribe {
  input {
    border: 0;

    &:first-of-type {
      border-radius: 30px 0 0 30px;

      @include media_768(min) {
        width: 300px;
      }
    }

    &:last-of-type {
      border-radius: 0 30px 30px 0;
      cursor: pointer;
    }
  }
}

.link-arrow {
  i {
    font-size: 13px;
  }
}

.button--surtur {
  position: relative;
  margin-left: -25px;

  .textcircle {
    position: relative;
    display: block;
    width: 200px;

    text {
      font-size: 32px;
      text-transform: uppercase;
      fill: $heading-color;
    }

    textPath {
      letter-spacing: 17px; /* Firefox needs this */
    }
  }

  .eye {
    position: absolute;
    z-index: 2;
    width: 60px;
    height: 60px;
    top: calc(50% - 30px);
    left: calc(50% - 30px);
  }

  .eye__outer,
  .eye__inner,
  .eye__lashes-up,
  .eye__lashes-down {
    stroke: $heading-color;
    fill: none;
    stroke-width: 1.5px;
  }

  .eye__lashes-down {
    opacity: 0;
  }

  .eye__iris {
    fill: $heading-color;
  }
  &:hover {
    .textcircle {
      animation: rotateIt 7s linear infinite;
    }

    .eye__lashes-up,
    .eye__inner,
    .eye__iris {
      animation: blinkHide 2s step-end infinite;
    }

    .eye__lashes-up, .eye__inner, .eye__iris {
      animation: blinkHide 2s step-end infinite;
    }

    .eye__lashes-down {
      animation: blinkShow 2s step-end infinite;
    }
  }
}

@keyframes blinkHide {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
}

@keyframes blinkShow {
  0% {
    opacity: 1;
  }
  10% {
    opacity: 0;
  }
}

@keyframes rotateIt {
  to {
    transform: rotate(-360deg);
  }
}


.button.is-play {
  display: inline-block;
  position: relative;
  background-color: #fff;
  border-radius: 50%;
  width: 100px;
  height: 100px;

  .button-outer-circle {
    background: rgba(255,255,255,0.2);
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
  }

  .button-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 30px;
    height: 30px;
    transform: translate(-50%, -50%);

    svg {
      fill: $theme-color;
    }

    .triangle {
      -webkit-animation: fadeIn 7s ease;
              animation: fadeIn 7s ease;
    }

    .path {
      stroke: $theme-color;
      stroke-dasharray: 90;
      stroke-dashoffset: 0;
      -webkit-animation: triangleStroke 3s;
              animation: triangleStroke 3s;
      -webkit-animation-timing-function: ease;
              animation-timing-function: ease;
    }
  }
}

.has-scale-animation {
  -webkit-animation: smallScale 3s infinite;
          animation: smallScale 3s infinite;
}
.has-delay-short {
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes triangleStroke {
  from {
    stroke-dashoffset: 90;
  }
  to {
    stroke-dashoffset: 0;
  }
}
@keyframes triangleStroke {
  from {
    stroke-dashoffset: 90;
  }
  to {
    stroke-dashoffset: 0;
  }
}
@-webkit-keyframes smallScale {
  from {
    transform: scale(1);
    opacity: 1;
  }
  to {
    transform: scale(1.5);
    opacity: 0;
  }
}
@keyframes smallScale {
  from {
    transform: scale(1);
    opacity: 1;
  }
  to {
    transform: scale(1.5);
    opacity: 0;
  }
}
