.header-personal , .header-project {

  .w-50 {
    @include media_991 {
      width: 100%;
    }
  }
}

.project-number {
  top: 30px;
  padding-top: 40px;
  @include body-line{
    padding-top: 0;
  }

  h6 {
    margin-right: 15px;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 2.5px;
  }


  span {
    position: relative;
    font-size: 14px;
    font-weight: 400;
    font-family: $heading-font;
    color: $heading-color;


    &.curent {
      padding-right: 80px;

      @include media_575 {
        padding-right: 30px;
      }

      &::before {
        content: '';
        position: absolute;
        right: 0;
        top: 50%;
        margin-top: -1px;
        width: 60px;
        height: 1px;
        background-color: $heading-color;

        @include media_575 {
          width: 20px;
        }
      }
    }


    &.full {
      margin-left: 20px;

      @include media_575 {
        margin-left: 15px;
      }
    }
  }
}

.header-project,
.next-project {
  .title {
    @include v-light {
      color: $heading-color;
    }
  }

  .sub-text-header {
    li {
      position: relative;
      display: inline-block;

      h5 {
        position: relative;
        padding-right: 20px;
        margin-right: 10px;

        &::after {
          content: '';
          position: absolute;
          right: 0;
          top: 50%;
          width: 10px;
          height: 2px;
          background-color: $heading-color;
        }
      }

      p {
        display: inline-block;
      }
    }
  }

  .footer-header {
    bottom: 0;
    padding-bottom: 30px;
    z-index: 2;
  }
}
